$background-violet-dark: rgb(84, 27, 99);
$background-violet-light: rgb(201, 156, 223); 
$background-grey-dark:#202020;
$text-color: wheat;
$border-radius-5: 5px;

body {
    padding: 0;
  }
  p {
    margin: 0;
  }
  .page-wrap {
    border: 2px solid $background-violet-dark;
    border-radius: $border-radius-5;
    background-color: black;
  }
  .page-hero {
    padding: 25px 0;
    background-color: $background-violet-dark;
    text-align: center;
    color: $text-color;
  }
  .hero-logo {
    width: 7vw;
    height: 7vw;
    border-radius: 51%;   
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .imgLogo{
    background-image : url(img/photo_1.png);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 51%;   
    height: 100%;
    width: 100%;
  }
  .page-features {
    padding: 18px 0;
    display: flex;
    justify-content: center;
  }
  .feature-item {
    border-radius: $border-radius-5;
    background-color:$background-violet-light;
    height: 100%;
  }
  .feature-item h2{
    text-align: center;
  }
  .page-section {
    margin: 15px;
    background-color: $background-grey-dark;
    border-radius: $border-radius-5;
    color: $text-color;
    padding: 15px;
    display: flex;
  }
  .section-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .section-item {      
    border-radius:  $border-radius-5;
    margin: 5px 0;
    background-color: $background-violet-dark;
    color: $text-color;
    padding-left: 10px;
  }
  .section-right {
    background-color: $background-violet-dark;
    border-radius:  $border-radius-5;
    color: $text-color;
    padding-left: 10px;
    height: 100%;
  }
  .page-footer {
    background-color:  $background-violet-light;
    color: $background-grey-dark;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
  }
  .footer-logo {
       display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer-right {
    display: flex;
  }
  .f-soc{
     a{
        display: block;
        width: 100%;
        height: 100%;
    }
    svg{
        width: 25px;
        height: 25px;
    }
}
  .row, .container{
    justify-content: center;
  }